[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
flask-sqlalchemy = "==3.1.1"
flask-jwt-extended = "==4.6.0"
python-decouple = "*"
flask-migrate = "*"
flask-cors = "*"
pymssql = "==2.3.1"
aniso8601 = "==9.0.1"
attrs = "==24.2.0"
blinker = "==1.8.2"
click = "==8.1.7"
greenlet = "==3.1.1"
importlib-resources = "==6.4.5"
itsdangerous = "==2.2.0"
jinja2 = "==3.1.4"
jsonschema = "==4.23.0"
jsonschema-specifications = "==2024.10.1"
markupsafe = "==3.0.1"
pyjwt = "==2.9.0"
python-dotenv = "==1.0.1"
pytz = "==2024.2"
referencing = "==0.35.1"
rpds-py = "==0.20.0"
sqlalchemy = "==2.0.35"
typing-extensions = "==4.12.2"
werkzeug = "==3.0.4"

[dev-packages]

[requires]
python_version = "3.12"
